html {
}

body {
    background-color: #121E4C;
}

.std_background_color {
    background-color: #121E4C;
  }

  

a {
  color: #0188cc;
}

p {
  color: #ffffff;
}


h1 {
  color: #ffffff;
}

h2 {
    color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
  }


.hero-title {
    color: #ffffff;
}

.content_block {
  background-color: #121E4C;
}


.header {
  background-color : #121E4C;
  color: #232e5a;
}

.header-content {
  border-bottom: 1px solid #232e5a;
}

.header-logo {
  border-right: 1px solid #232e5a;
}

.header-updates {
  border-left: 1px solid #232e5a;
}

.header_a {
  color: #dddddd;
}

.header_a_selected {
  color: #ff0044;
  background: #121E4C;
}

.footer_a {
  color: #ecf3f7;
}

.footer {
  background-color: #121E4C; 
  color: #0188cc;
}

ul {
    color: #ffffff;
}
ol {
    color: #ffffff;
}

@keyframes fadein {
    from { 
        opacity: 0; 
        background-color: #000000; }
    to   { 
        opacity: 1;
        background-color: #121E4C; 
    }
  }

  span {
    color: white;
  }