html {
    font-family: "Helvetica Neue",Roboto,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #050505;
}

body {
    background-color: #F1F2F5;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;  
}

.std_background_color {
  background-color: #F1F2F5;
}

a {
  color: #0188cc;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #050505;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

ul {
  font-weight: 400;
  font-size: 1rem;
}

span {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #375eab;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #375eab;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #375eab;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
  color: #375eab;
  }


ol {
  padding-left: 1em;
  margin: 0px;
  margin-left: 20px;
}

ul {
  padding-left: 1em;
  margin: 0px;
  margin-left: 20px;
}


li {
  margin: .5em 0em;
  padding-left: .5em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.liSpan
{
  font-size: 11px;
  font-size: 1.1rem;
}

.hero-title {
    font-size: 35px;
    font-size: 3.5rem;
    letter-spacing: -2.5px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    color: #047BEB;
    white-space: nowrap;
}

.content {
  margin: auto;
  max-width: 960px;
  width: auto;
}

.content_block {
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius:4px;
  background-color: white;
  width: 800px;
  margin:auto;
}


@keyframes fadein {
  from { 
      opacity: 0; 
      background-color: #ffffff; }
  to   { 
      opacity: 1;
      background-color: #F1F2F5; 
  }
}

@keyframes fadein2 {
  from { 
      opacity: 0; 
      background-color: #ffffff; 
      font-size: 0rem;
      white-space:nowrap;
  }
  to   { 
      opacity: 1;
      background-color: #3f687c; 
      font-size: 1rem;
  }
}

.body.main {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
     -o-animation: fadein 1.5s; /* Opera < 12.1 */
        animation: fadein 1.5s;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color : #F1F2F5;
  color: #375eab;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #ebe5e5;
  z-index: 1;
  background: ffffff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
}

.header-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: auto;
  min-width: 145px;
  margin: 0;
  position: relative;
  border-right: 1px solid #ebe5e5;

  padding: 0 5%;

  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.header-nav {
  width: 60%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.header-updates {
  display: none;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;

  height: 100%;
  width: 20%;
  min-width: 145px;
  border-left: 1px solid #ebe5e5;
  align-items: center;
  -webkit-box-pack: center;
  font-size: .8em;
}

.header_a {
  color: #444444;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}

.header_a_selected {
  color: #375eab;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  background: #F1F2F5;
}


.modal {
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal_solid {
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


img.circle {
  border-radius: 900px;
  border-top-left-radius: 900px;
  border-top-right-radius: 900px;
  border-bottom-right-radius: 900px;
  border-bottom-left-radius: 900px;
  height: 60px;
  padding-left: 0px;
  padding-top: 0px;
  padding: 3px;
}

img.circleMedium {
  border-radius: 900px;
  border-top-left-radius: 900px;
  border-top-right-radius: 900px;
  border-bottom-right-radius: 900px;
  border-bottom-left-radius: 900px;
  height: 120px;
  padding-left: 0px;
  padding-top: 0px;
  padding: 3px;
}

img.circleLarge{
  border-radius: 900px;
  border-top-left-radius: 900px;
  border-top-right-radius: 900px;
  border-bottom-right-radius: 900px;
  border-bottom-left-radius: 900px;
  height: 180px;
  padding-left: 0px;
  padding-top: 0px;
  padding: 3px;
}


/* phones */
@media only screen and (max-width: 767px) {
  .content {
    max-width: auto;
    width: auto;
  }

  .content_block {
    width: auto;
    margin:auto;
  }

  .head {
    height: 5.25rem;
  }

.hero-title {
    font-size: 35px;
    font-size: 2.7rem;
    letter-spacing: -2.5px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    white-space: nowrap;
  }

  .modal-content {
    position: absolute;
    vertical-align: center;
    width: 95%;
    height: 95%;
  }

}

.footer_a {
  color: #ecf3f7;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  opacity: .9;
  background-color: #3f687c; 

  color: white;
  text-align: center;
  font-size: 1rem;
  -webkit-animation: fadein2 1.0s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein2 1.0s; /* Firefox < 16 */
    -ms-animation: fadein2 1.0s; /* Internet Explorer */
    -o-animation: fadein2 1.0s; /* Opera < 12.1 */
        animation: fadein2 1.0s;
}


.page_content {
  padding-top: 50px;
}

@media only screen and (min-width: 768px) {

  .header-updates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
  }

}